<mat-card>
    <div *ngIf = "!(authService.user | async)">
      <h3 style = "text-align: center;"><a routerLink = "/register">Register</a> or <a routerLink="/login">Login</a> to manage your reading list</h3>
    </div>
  
    

    <div *ngIf = "authService.user | async">
        <h1> Welcome {{(authService.user | async)?.email}} </h1>
        </div>
  
    
    <mat-card-content>
        <br>
        <mat-card-subtitle class="sub2">
        Hello :) , Your books list:
        </mat-card-subtitle>
        <book class="checkbox" *ngFor = "let book of books"
               [data] = "book">
        </book>
    </mat-card-content>
  
    <mat-card-actions>
      <form class="example-form" (ngSubmit) = "addBook()">
        <mat-form-field class="example-full-width">
          <input [(ngModel)] = "bookName" name = "bookName" matInput placeholder="Add book name" value="" >
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input [(ngModel)] = "author" name = "author" matInput placeholder="Add author name" value="" >
        </mat-form-field>
        <div>
            <input type = "Submit" value = "Add your book">
        </div>      
      </form>  
    </mat-card-actions>
  
  </mat-card>