<li (mouseenter) = "showButton()"
    (mouseleave) = "hideButton()"
    style="list-style-type:none">
    <mat-checkbox
      [(ngModel)]="read"
      (change) = "checkChange()">
    </mat-checkbox>  
    <span   *ngIf = "!showEditField"
            (click) = "showEdit()"> Book name: {{ bookName }} </span>
            
    <br>
    <span   *ngIf = "showTheAuthor"
            (click) = "showEdit()"> Author: {{ author }} </span>

    <mat-form-field *ngIf = "showEditField">
        <input [(ngModel)] = "text" matInput >
    </mat-form-field>

    

    <button mat-raised-button
            *ngIf = "showEditField"
            (click) = "save()">Save</button>

    <button mat-raised-button
            *ngIf = "showEditField"
            (click) = "cancel()">Cancel</button>        

  

</li>