<!--The content below is only a placeholder and can be replaced.-->

<mat-card class = "example-card">

    <mat-card-content> 
<nav></nav>
<router-outlet></router-outlet>

</mat-card-content>
  
</mat-card>

